
.vistaRegister{
    @extend .center;
    box-sizing: border-box;
    width: 100%;
    color: black;
    background-color: rgb(210, 210, 210);
}

.inputBox {
    background-color: white;
    height: 2em;
    width: 24em;
    outline: none;
    padding: 0.5em 1em;
    padding-bottom: 0;
    border-radius: 0.2em;
    opacity: 1;
    border: rgba(59, 59, 59, 0.568) 0.1em solid;
    color: black;
    transition: 0.4s;
    &:focus {
        transition: cubic-bezier(0.23, 1, 0.32, 1);
        border: grey 0.1em solid;
    }
}

.sendButton {
    box-sizing: border-box;
    @extend .center;
    height: 3em;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: grey;
    transition: 0.5s;
    font-size: smaller;
    border-radius: 0.5em;
    color: white;
    &:hover {
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background-color: rgb(153, 82, 219);
    }
}