
.registerView{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: black;
    background-color: rgb(192, 207, 218);
    flex: 1;
}

.inputBox {
    background-color: white;
    height: 2em;
    width: 24em;
    outline: none;
    padding: 0.5em 1em;
    padding-bottom: 0;
    border-radius: 0.2em;
    opacity: 1;
    border: rgba(59, 59, 59, 0.568) 0.1em solid;
    color: black;
    transition: 0.4s;
    &:focus {
        transition: cubic-bezier(0.23, 1, 0.32, 1);
        border: grey 0.1em solid;
    }
}