
.newsList {
    height: fit-content;
    min-height: 35em; 
    width: 40em;
    background-color: white;
    margin: 1em;
}

.newsView {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f3f3f3;
    padding: 2em;
    flex: 1;
}

.actionButtons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
    transition: 0.5s;
}

.contentCard {
    @extend .center;
    @extend .separatorLine;
    padding: 0.5em 0.5em;
    &:hover {
        .actionButtons {
            transition: 0.2s;
            opacity: 1;
        }
    }
}