.header {
    z-index: 2;
    box-sizing: border-box;
    height: 4em;
    background-color:#366590;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: small;
    border-bottom: solid 0.05em rgb(206, 206, 206);
}

.headerUser{
    box-sizing: border-box;
    width: fit-content;
    padding: 0 3em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.verticalLine {
    border-left: solid rgb(196, 196, 196) 0.13em;
    padding-left: 0.5em;
}

.linkLogout {
    transition: 0.2s;
}

.linkLogout:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}

.addNewButton {
    all: unset;
    color:#2b2d2f;
    background-color: rgb(122, 227, 183);
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    &:hover {
        color: white;
        cursor: pointer;
    }
}