
.addNewView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: black;
    background-color: rgb(192, 207, 218);
    flex: 1;
}