.vistaLogin {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    flex: 1;
    max-width: 100%;
    background-color: rgb(192, 207, 218);
    color: rgb(22, 22, 22);
}

.actionCard {
    box-sizing: border-box;
    height: fit-content;
    gap: 1em;
    width: 24em;
    border-radius: 0.5em;
    padding: 3em 1em;
}

.sendButton {
    box-sizing: border-box;
    @extend .center;
    height: 3em;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: grey;
    transition: 0.5s;
    font-size: smaller;
    border-radius: 0.5em;
    color: white;
    &:hover {
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background-color: rgb(153, 82, 219);
    }
}

.inputBox {
    background-color: white;
    height: 2em;
    width: 24em;
    outline: none;
    padding: 0.5em 1em;
    padding-bottom: 0;
    border-radius: 0.2em;
    opacity: 1;
    border: rgba(59, 59, 59, 0.568) 0.1em solid;
    color: black;
    transition: 0.4s;
    &:focus {
        transition: cubic-bezier(0.23, 1, 0.32, 1);
        border: grey 0.1em solid;
    }
}

.errorsText {
    width: 100%;
    margin-top: 0.5em;
    color: rgba(255, 0, 0, 0.794);
    font-weight: bold;
    font-size: smaller;
}
